# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/estudos/OlaMundoSwing/target/
/estudos/OlaMundoSwing/nbproject/private/
/estudos/OlaMundoSwing/build/
/estudos/OlaMundoJavaFX/nbproject/private/
/estudos/OlaMundoJavaFX/build/
/estudos/OlaMundoSwing/dist/
/estudos/RelogioSwing/nbproject/private/
/estudos/RelogioSwing/dist/
/estudos/RelogioSwing/build/
/estudos/IdiomaSistemaSwing/nbproject/private/
/estudos/IdiomaSistemaSwing/build/
/estudos/IdiomaSistemaSwing/dist/
/estudos/ResolucaoTelaSwing/nbproject/private/
/estudos/ResolucaoTelaSwing/build/
/estudos/ResolucaoTelaSwing/dist/
/estudos/teste/target/
/estudos/Aula006/target/
/estudos/Aula006/nbproject/private/
/estudos/Aula006/build/
/estudos/SomaSwing/nbproject/private/
/estudos/SomaSwing/build/
/estudos/SomaSwing/dist/
/exercicios/CalculadoraIdade/nbproject/private/
/exercicios/CalculadoraIdade/build/
/exercicios/CalculadoraIdade/dist/
/exercicios/SomaSwing/build/
/exercicios/SomaSwing/dist/
/exercicios/SomaSwing/nbproject/private/
/estudos/Aula007/nbproject/private/
/estudos/Aula007/build/
/estudos/SuperCalculadora/nbproject/private/
/estudos/SuperCalculadora/build/
/estudos/SuperCalculadora/dist/
/estudos/OperadorTernario/nbproject/private/
/estudos/Aula008/nbproject/private/
/estudos/Aula008/build/
/estudos/Aula008/dist/
/estudos/Exercicios/target/
/estudos/LeitorDePensamento/nbproject/private/
/estudos/LeitorDePensamento/build/
/estudos/LeitorDePensamento/dist/
/estudos/Aula009/nbproject/private/
/estudos/Aula009/build/
/exercicios/EquacaoSegundoGrau/nbproject/private/
/exercicios/EquacaoSegundoGrau/build/
/exercicios/EquacaoSegundoGrau/dist/
/exercicios/Aula010/nbproject/private/
/exercicios/Aula010/build/
/exercicios/ProjetoTriagulo/nbproject/private/
/exercicios/ProjetoTriagulo/build/
/exercicios/ProjetoTriangulo/nbproject/private/
/exercicios/ProjetoTriangulo/build/
/exercicios/ProjetoTriangulo/dist/
/exercicios/Aula011/nbproject/private/
/exercicios/Aula011/build/
/exercicios/Trabalho/target/
/exercicios/ProjetoFatoria/nbproject/private/
/exercicios/ProjetoFatorial/nbproject/private/
/exercicios/ProjetoFatorial/build/
/exercicios/JavaApplication19/nbproject/private/
/exercicios/JavaApplication20/nbproject/private/
/exercicios/JavaApplication20/build/
/exercicios/Aula012/nbproject/private/
/exercicios/Aula012/build/
/exercicios/ExercicioRepita/nbproject/private/
/exercicios/ExercicioRepita/build/
/estudos/Aula013/nbproject/private/
/estudos/Aula013/build/
/estudos/Exercicio13/nbproject/private/
/estudos/Exercicio13/build/
/estudos/Exercicio13/dist/
/estudos/Aula014/nbproject/private/
/estudos/Aula014/build/
/estudos/ExercicioVetor/nbproject/private/
/estudos/ExercicioVetor/build/
/estudos/ExercicioVetor/dist/
/estudos/Aula012/build/
/estudos/Aula012/nbproject/private/
/estudos/Aula015/nbproject/private/
/estudos/Aula015/build/
/exercicios/Funcao01/nbproject/private/
/exercicios/Funcao01/build/
/exercicios/Funcao02/nbproject/private/
/exercicios/Funcao02/build/
/exercicios/Funcao02/dist/
/java-POO/estudos/Aula03/nbproject/private/
/java-POO/estudos/Aula03/build/
/java-POO/estudos/Aula04/nbproject/private/
/java-POO/estudos/Aula04/build/
/java-POO/praticas/BibliotecaGames/build/
/java-POO/estudos/Aula05ex/nbproject/private/
/java-POO/estudos/Aula05/nbproject/private/
/java-POO/estudos/Aula05/build/
/java-POO/estudos/Aula06/nbproject/private/
/java-POO/estudos/Aula06/build/
/java-POO/estudos/Aula07/nbproject/private/
/java-POO/estudos/Aula07/build/
/java-POO/estudos/Aula07e08/nbproject/private/
/java-POO/estudos/Aula09/nbproject/private/
/java-POO/estudos/Aula09/build/
/java-POO/estudos/Aula10/nbproject/private/
/java-POO/estudos/Aula10/build/
/java-POO/estudos/Aula11/nbproject/private/
/java-POO/estudos/Aula11/build/
/java-POO/estudos/Aula12/nbproject/private/
/java-POO/estudos/Aula12/build/
/java-POO/estudos/Aula13/nbproject/private/
/java-POO/estudos/Aula13/build/
/java-POO/praticas/BibliotecaGame2/target/
